<section class="page-header">
  <div class="container-xxl">
    <div class="row">
      <div class="col-lg-12">
        <div class="block">
          <div class="section-title text-center mb-0">
            <div class="icon mx-3" style="color: #dbf0e9;" data-aos="flip-left" data-aos-easing="ease-out-cubic"
              data-aos-duration="3000">
              {{if isset .Params "icon"}}
              <i class="las {{.Params.icon}}" style="font-size:64px;"></i>
              {{ end }}
            </div>
            <div class="header-frame my-3 py-5">
              <div class="py-5">
                <h1 class="title display-6 underline-none" data-aos="fade-up">{{ .Title | emojify}}</h1>
                <nav aria-label="breadcrumb" data-aos="fade-up" data-aos-delay="200">
                  <ol class="breadcrumb justify-content-center bg-transparent p-0 mb-0">
                    <li class="breadcrumb-item"><a class="link-primary" href="{{ site.BaseURL | relURL }}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page"><a class="link-primary"
                        href="{{ absURL .Section | relURL}}">{{ .Section | humanize}}</a></li>
                  </ol>
                </nav>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>