body {
    font-family: var(--bs-body-font-family);
}


header {
    min-height: 100px;
    vertical-align: middle;
    background: #ffffff;
    height: 150px;
    width: 100%;
    position: relative;
    z-index: 99;
    box-shadow: 0 0 4px 0 rgb(0 0 0 / 10%);
    animation: spFadeIn 0.5s;
}

#logo img {
    height: 64px;
    margin-top: 15px;
    margin-bottom: 15px;
}

#menu nav ul {
    list-style: none;
    padding: 0;
    margin: 0 -15px;
    z-index: 99;
    display: block;
    float: right;
    position: relative;
    font-weight: 500;
}
